@import '../../../theme/variables.scss';

$profile-image-size: 56px;

.header > h1 {
  align-items: center;
  font-size: 28px;
}

.badge-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  width: $profile-image-size;
  height: $profile-image-size;
  margin: 0 10px;
  
  .profile-img {
    border-radius: $profile-image-size;
    background: $light;
    text-align: center;
    width: 100%;   
  }
}

.quick-facts {
  flex-basis: 24%;
}

.profile-tabs {
  flex-basis: 75%;

  .profile-detail-border {
    background: $light;
    padding: 10px;
    margin: 30px 10px 10px 20px;
  }

  .profile-detail {
    background: $light-grey;
    padding: 10px;
    border: 1px solid darken($light-grey, 10%);
    h2 {
      font-size: 17px;
      font-weight: 400;
    }
  }
  .profile-table {
    background: $light;
    width: 100%;
  }
}

// ::ng-deep .mat-tab-label .mat-tab-label-content {
//   color: rgba($color: #fff, $alpha: 1.0) !important;
//   opacity: 1 !important;
// }

::ng-deep .mat-tab-list {
  margin-left: 20px;
}
