@import '../../../theme/variables.scss';

.header {
  background: $header;
  padding: 10px 20px;
}

.section {
  display: flex;
  padding: 20px;
}

.quick-facts {
  font-size: 14px;
  width: 20%;
  min-height: 200px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px grey;
  &__header {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    p {
      margin: 0;
      width: 80%;
    }
  }
}

.content__facts {
  .mat-icon {
    color: grey;
  }
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  dt {
    display: inline-flex;
    flex-basis: 60%;
    flex-grow: 1;
    align-items: center;
    min-height: 24px;
  }
  dd {
    flex-basis: 39%;
    margin: 0;
    min-height: 24px;
    padding-top: 5px;
  }
}

.profile-tabs {
  width: 80%;
}

// codepen for static donut chart: https://codepen.io/Hyungsub08/pen/yLBPJKW
.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .chart-center {
    position: absolute;
    border-radius: 50%;
  
    span {
      display: block;
      text-align: center;
    }
  }
}

@mixin donut-chart($name, $perc, $size, $width, $base, $center, $color, $textColor: $color, $textSize: 40px) {
  
  $color2: $color;
  $base2: $base;
	$deg: ($perc/100*360)+deg;
	$deg1: 90deg;
	$deg2: $deg;
	
	// If percentage is less than 50%
	@if $perc < 50 {
		$base: $color;
    $color: $base2;
    $color2: $base2;
    $deg1: ($perc/100*360+90)+deg;
		$deg2: 0deg;
	}
    
  .donut-chart {
    &#{$name} {
      width: $size;
      height: $size;
      background: $base;
      
      .slice {
        &.one {
          clip: rect(0 $size $size/2 0);
          -webkit-transform: rotate($deg1);
          transform: rotate($deg1);
          background: $color;
        }
        
        &.two {
          clip: rect(0 $size/2 $size 0);
          -webkit-transform: rotate($deg2);
          transform: rotate($deg2);
          background: $color2;
        }
      }
      
      .chart-center {
        top: $width;
        left: $width;
        width: $size - ($width * 2);
        height: $size - ($width * 2);
        background: $center;
        
        span {
          font-size: $textSize;
          line-height: $size - ($width * 2);
          color: $textColor;
        
          &:after {
          content: '#{$perc}%';
          }
        }
      }
    }
  }
} // mixin

@include donut-chart('.chart2', 80, 40px, 5px, #e1e1e1, #fff, #48b2c1, #48b2c1, 15px);