<div class="banner"></div>
<div class="container">
<div class="header">
  <h1>Profile: <div><img matBadge="in" matBadgePosition="above after" class="profile-img" src="{{profile?.photo}}"></div>{{ profile?.first_name + ' ' + profile?.last_name }}</h1>
</div>
<div class="section">
  <app-quick-facts class="quick-facts"></app-quick-facts>

  <div class="profile-tabs">
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Profile Detail">
        <div class="profile-detail-border">
        <div class="profile-detail">
          <h2>Profile Detail</h2>
          <div class="profile-table">
            <app-profile-row label="Prefix" [content]="profile?.prefix"></app-profile-row>
            <app-profile-row label="First name" [content]="profile?.first_name"></app-profile-row>
            <app-profile-row label="Last name" [content]="profile?.last_name"></app-profile-row>
            <app-profile-row label="Suffix" [content]="profile?.suffix"></app-profile-row>
            <app-profile-row label="Loyalty Member ID" [content]="profile?.loyalty_member_id"></app-profile-row>
            <app-profile-row label="Phone" [content]="profile?.phone"></app-profile-row>
            <app-profile-row label="Address" [content]="profile?.address"></app-profile-row>
            <app-profile-row label="Birthdate" [content]="profile?.birthdate"></app-profile-row>
            <app-profile-row label="Language Preference" [content]="profile"></app-profile-row>
          </div>
        </div>
        </div>
      </mat-tab>
      <mat-tab label="Profile ID's">
        <div class="profile-detail">

        <h1>Some more tab content</h1>
        <p>...</p>
        </div>
      </mat-tab>
      <mat-tab label="Activity Timeline">
        <div class="profile-detail">
        <h1>Some more tab content</h1>
        <p>...</p>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>
