<div class="header">
  <h1>Profile: {{ profile.first_name + ' ' + profile.last_name }}</h1>
</div>
<div class="section">
  <div class="quick-facts">
    <h3>Quick Facts</h3>
    <div class="quick-facts__header">
      <p>Status</p>
      <a href="">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="quick-facts__content">
      <mat-icon>account_box</mat-icon>
      <p>ID: SH051545</p>
      <p>Tier: Gold</p>
      <p>Pts: 125,024</p>
    </div>
    <div class="quick-facts__header">
      <p>Top 3 Facts</p>
      <a href="">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="quick-facts__content">
      <mat-icon>error</mat-icon>
      <p>Suite Room</p>
      <p>King Bed</p>
      <p>Highest Floor</p>
    </div>
    <div class="quick-facts__header">
      <p>RFM Score</p>
      <a href="">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="quick-facts__content">
      <div class="donut-chart chart2">
        <div class="slice one"></div>
        <div class="slice two"></div>
        <div class="chart-center">
          <span></span>
        </div>
      </div>
      <p>R: 70%</p>
      <p>F: 50%</p>
      <p>M: 90%</p>
    </div>
    <div class="quick-facts__header">
      <p>Other Facts:</p>
      <a href="">
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="quick-facts__content">
      <dl class="content__facts">
        <dt><mat-icon>calendar_today</mat-icon> Total Stays:</dt>
        <dd>24</dd>
        <dt><mat-icon>nights_stay</mat-icon> Nights:</dt>
        <dd>32</dd>
        <dt><mat-icon>king_bed</mat-icon> Avg Stay:</dt>
        <dd>1.33 nights</dd>
        <dt><mat-icon>calendar_today</mat-icon> Last Visit:</dt>
        <dd>2018-08-15</dd>
        <dt><mat-icon>local_atm</mat-icon> Lifetime Value:</dt>
        <dd>$3084.29</dd>
      </dl>
    </div>
  </div>

  <div class="profile-tabs">
    <mat-tab-group>
      <mat-tab label="Profile Detail">
        <h1>Some tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Profile ID's">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Activity Timeline">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
