.profile-table__row {
  border-bottom: 1px solid #ddd;
  display: flex;
  font-size: 14px;
  padding: 10px 15px;
  .row {
    &__label {
      flex-basis: 30%;
      align-self: center;
    }
    &__content {
      align-self: center;
      flex-basis: 60%;
      font-weight: bold;
    }
    &__action {
      .mat-icon {
        color: #ddd;
      }
      flex-basis: 10%;
      text-align: right;
    }
  }
}
